name: .NET Core

on:
  push:
  pull_request:
    branches: [ main ]

jobs:

  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework: ["net6.0", "netcoreapp3.1", "netcoreapp2.1"]
        disable: ["HWIntrinsics", "SSSE3", "BMI2", "Noop"]
        exclude:
          - framework: "netcoreapp2.1"
            disable: "HWIntrinsics"
          - framework: "netcoreapp2.1"
            disable: "SSSE3"
          - framework: "netcoreapp2.1"
            disable: "BMI2"

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Setup .NET Core 3.1
      if: matrix.framework == 'netcoreapp3.1'
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Setup .NET Core 2.1
      if: matrix.framework == 'netcoreapp2.1'
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '2.1.x'
    # Cache packages for faster subsequent runs
    - uses: actions/cache@v2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Install dependencies
      run: dotnet restore
    - name: Test
      run: |
        export COMPlus_Enable${{ matrix.disable }}=0 && \
        dotnet test -f ${{ matrix.framework }} --configuration Release --verbosity normal --logger "junit;LogFilePath=test-results/results.xml"

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@f8a3fca6035d817e664cd0bf57d7fefc407847ee # pre-1.4, adds comment_on_pr option
      if: >
        github.event_name == 'push' ||
        github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Unit Tests ${{ matrix.framework }} Enable${{ matrix.disable }}=0
        files: '**/test-results/**/*.xml'
        report_individual_runs: true
        comment_on_pr: false


  publish:

    runs-on: ubuntu-latest
    needs: test
    if: ${{ startsWith(github.ref, 'refs/tags/release/') }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Install dependencies
      run: dotnet restore
    - run: echo "VERSION=${GITHUB_REF/refs\/tags\/release\//}" >> $GITHUB_ENV
    - name: Pack
      run: dotnet pack --configuration Release -p:Version=${{ env.VERSION }}
    - name: Push to NuGet.org
      run: |
        dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
