name: .NET Core

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Setup .NET Core 2.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '2.1.x'

    - name: Install dependencies
      run: dotnet restore
    - run: echo "::set-env name=VERSION::${GITHUB_REF/refs\/tags\/release\//}"
      if: ${{ startsWith(github.ref, 'refs/tags/release/') }}
    - run: echo "::set-env name=VERSION::0.1.0-local"
      if: ${{ !startsWith(github.ref, 'refs/tags/release/') }}
    - name: Build
      run: dotnet build --configuration Release -p:Version=${{ env.VERSION }} --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal --logger "junit;LogFilePath=test-results/results.xml"
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.3
      if: >
        github.event_name == 'push' ||
        github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Unit Tests
        files: '**/test-results/**/*.xml'
        report_individual_runs: true
        comment_on_pr: false
        
    - name: Pack
      if: ${{ startsWith(github.ref, 'refs/tags/release/') }}
      run: dotnet pack --configuration Release -p:Version=${{ env.VERSION }} --no-build
    - name: Push to NuGet.org
      if: ${{ startsWith(github.ref, 'refs/tags/release/') }}
      run: |
        dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
